/* Configurações do <body> que abrangem toda a página. */
body {
    margin: 0px;
    padding: 0px;
    color: #ad8a68;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.logo {
    padding: 0px;
    margin: 0px;
    color: #fff6e7;
}

/* Estilo para os elementos de navegação da tag <nav>. */
nav {
    margin: 0px;
    padding: 0px 2%;
    background-color: #ad8a68;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0px 20px;
    white-space: nowrap;
}

nav ul li a {
    color: #fff6e7;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Classe de estilo da caixa de conteúdo, que contém o mapa em 'index.html' e texto em 'sobre.html'. */
.caixaConteudo {
    background-color: #dfe0df;
    min-height: calc(100vh - 54px);
    display: flex;
}

/* Identidade de estilo para a <div> que contém o mapa. */
#mapaLeaflet {
    width: 100%;
}

/* Identidade de estilo para a <div> que contém texto. */
#conteudoTexto {
    margin: 20px;
    padding: 20px;
}